.text-type {
  display: inline-block;
  white-space: pre-wrap;
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
  color: #14b8ff; /* İmleç rengi neon mavi olsun */
}

.text-type__cursor--hidden {
  display: none;
}